.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  width: 50px;
  height: 50px;
  padding: 10px;
  size: 50px;
  background: transparent;
  border: none;
  border-radius: 50%;
}

.burger-line {
  background: var(--separator-color);
  height: 5px;
  width: 100%;
  border-radius: 5px;
}
