.app-works {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.6rem;
  margin-top: 60px;
}
.heading-works-section {
  font-weight: 600;
  margin: 30px 0 30px 0;
}
.link-section {
  color: var(--accent-color);
  font-weight: 700;
}

.create-account {
  margin: 32px 0 40px 0;
}
.account-wrapper {
  padding: 30px;
}

.text-section-account {
  font-size: 1.5rem;
}
.img-wrapper-section {
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .img-wrapper-section {
    max-width: 300px;
  }
}
@media screen and (min-width: 992px) {
  .create-account {
    display: flex;
    flex-direction: row-reverse;
  }
  .shop-for-your {
    flex-direction: row;
  }
  .heading-works-section {
    font-size: 3rem;
    font-family: Poppins;
  }
  .img-wrapper-section {
    width: 60%;
  }
  .account-wrapper {
    text-align: left;
    padding: 0;
  }
  .create {
    margin: 50px 0 0 100px;
  }
  .shop {
    margin: 50px 100px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .img-wrapper-section {
    width: 30%;
  }
  .create {
    margin: 70px 0 0 100px;
  }
  .shop {
    margin: 70px 100px 0 0;
  }
}
